@font-face {
  font-family: graphik;
  src: url(./graphik-regular-webfont.woff);
}

@font-face {
  font-family: graphik;
  src: url(./graphik-bold-webfont.woff);
  font-weight: bold;
}

@font-face {
  font-family: graphik;
  src: url(./graphik-light-webfont.woff);
  font-weight: lighter;
}

body {
  text-align: center;
  font-family: graphik;
}
.App {
  display: grid;
  grid-template-rows: 100px 150px 1fr;
  grid-gap: 40px;
}

.App-header {
  background-color: #000;
  display: grid;
  grid-template-columns: 300px 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: center;
}

.App-header a {
 text-decoration: none;
 color: #fff;
}

.App-header.activeLink, .App-header a:hover{
  color: #DC0031;
}

.App-nav span {
  color: #00ADBB;
}

.App-nav{
  font-size: 2em;
  font-weight: bold;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px 20px;
  justify-items: stretch;
  align-items: stretch;
  max-width: 69em;
  list-style: none;
  font-weight: lighter;
}

.card {
  align-self: start;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  height: 280px;
  background: #FFF;
}

.card img {
  outline: none;
  border: none;
  display: block;
  width: 200px;
  height: 200px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body{
  height: 80px;
  padding: 4px 10px;
}

input {
  border: none;
  flex-basis: 80%;
  font-size: 1em;
  font-weight: lighter;
}

.search {
  width: 40%;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.search-group {
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  justify-items: stretch;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #333;
  background: #fff;
  border-radius: 5px;
}

.option-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
}

button {
  border: none;
}

input:focus, textarea:focus, select:focus {
  outline-offset: none !important;
}
user agent stylesheet
:focus {
  outline: none !important;
}

.map{
  width: 100%;
  height: 100%;
  position: absolute;
}
